$primary-color: #33356c;
$on-primary-color: #fff;
$danger-color: #dd491b;
$on-danger-color: #fff;
$text-color: #121213;
$text-light-color: #5f5b6e;
$background-color: #f7f7f8;
$background-dark-color:#dfdfdf;